#!/bin/ash
#Petit script pour récupérer les secrets pour ce projets
#zf231204.1632, zf241003.1052

zAPP_SERVER_NAME=toto.tutu.com
zAPP_SERVER_USER=titi

MQTT_BROKER="your_mqtt_broker_ip"
MQTT_PORT="1883"
MQTT_USERNAME="your_mqtt_username"
MQTT_PASSWORD="your_mqtt_password"


